= form_for @message do |f|
  %div
    = f.label :theme
    = f.text_field :theme
  %div
    = f.label :description
    = f.text_area :description

  = f.hidden_field :to_user, :value => @to_user

  %div
    = f.submit "Send message"