%ul.comment
  %li.image
    - if note.user.avatar.exists?
      = image_tag note.user.avatar.url(:small)
    - else
      = image_tag "nologo.jpg", :width => '40', :height => '40'
  %li.text
    = link_to note.author, detail_path(:id => note.user)
    %br
    %span= note.message
    %br
    %span
      = time_ago_in_words(note.created_at)
      ago
  %li.remove
    - if signed_in?
      - if current_user.admin_of_photo?(photo) || current_user.admin_of_note?(note)
        %sup= link_to 'x', destroy_note_photo_path(:note_id => note.id), :method => :post, :remote => true
%div.clear
