%div#noteform
  = form_tag addarea_photo_path(photo), :id => "NoteAddForm", :method => :post, :remote => true do
    %fieldset
      = hidden_field_tag :x1, params[:x1], :id => 'NoteX1'
      = hidden_field_tag :y1, params[:y1], :id => 'NoteY1'
      = hidden_field_tag :height, params[:height], :id => 'NoteHeight'
      = hidden_field_tag :width, params[:width], :id => 'NoteWidth'
      = text_area_tag :description, params[:description], :id => 'NoteNote'
    %div.action
      = submit_tag "Add"
      = button_tag "Cancel", :id => "cancelnote"
