%div
  %label Time
  - if signed_in?
    = link_to '(specify time tag)', '#', :class => 'link', :id => 'edit_dt'

  - if current_user.admin_of_photo?(photo)
    = edit_date_form(photo, :user => 'admin')

  - else
    = edit_date_form(photo, :user => 'member')

  %br
  %span#dt
    = render :partial => 'timelines/shared/display_dt', :locals => { :photo => photo }

:javascript
  $(window).load(function() {
    $('#edit_dt').click(function() {
      $('#datetime_form').css({'display': 'block'});
      return false;
    });
  });

  $(document).ready(function() {
    $('#cancel_datetime').click(function() {
      $('#datetime_form').css({'display':'none'});
      return false;
    });
  });

- if signed_in? && current_user.admin_of_photo?(photo) && photo.recommend_ats.present?
  %div#recommends_at_panel
    = render :partial => 'timelines/shared/list_recommends_at', :locals => { :photo => photo }

  :javascript
    $(window).load(function() {
      var init = false;
      $('#show_at_recommends').click(function() {
        if (init == false) {
          $('#list_recommend_at').css({'display': 'block'});
          init = true;
        } else {
          $('#list_recommend_at').css({'display': 'none'});
          init = false;
        }
      });
    });
