%div{ :style => 'display:none', :id => 'datetime_form' }
  = form_tag url, :remote => true do
    = dt_set_defaults(photo.generate, :from_at)
    %div.tire -
    = dt_set_defaults(photo.generate_end, :to_at)

    = submit_tag 'Add', :class => 'action'
    = button_tag 'Cancel', :class => 'action', :id => 'cancel_datetime'