- if photo.generate.present?
  %p
    %b Time:
    %br
    = l photo.generate, :format => :lite
    - if photo.generate_end
      \...
      = l photo.generate_end, :format => :lite

- if signed_in? && !current_user.admin_of_photo?(photo)
  = link_to 'Recommend at', recommend_at_photo_path(@photo)

%ul
  - photo.recommend_ats.each do |recommend|
    %li
      %i
        = l recommend.from_at, :format => :lite
        - if recommend.to_at.present?
          \...
          = l recommend.to_at, :format => :lite

      - if signed_in? && current_user.admin_of_photo?(photo)
        = link_to "V", apply_recommend_at_photo_path(@photo, :recommend_id => recommend), :method => :post
        = link_to "X", destroy_recommend_at_photo_path(@photo, :recommend_id => recommend), :method => :post