- if photo.generate.present?
  %p
    %label When:
    = l photo.generate, :format => :full
    - if photo.generate_end
      \...
      = l photo.generate_end, :format => :full

- if signed_in? && !current_user.admin_of_photo?(photo)
  = link_to 'Recommend at', recommend_at_album_photo_path(@album, @photo)

%ul
  - photo.recommend_ats.each do |recommend|
    %li
      %i
        = l recommend.from_at, :format => :full
        - if recommend.to_at.present?
          \...
          = l recommend.to_at, :format => :full

      - if signed_in? && current_user.admin_of_photo?(photo)
        = link_to "V", apply_recommend_at_album_photo_path(@album, @photo, :recommend_id => recommend), :method => :post
        = link_to "X", destroy_recommend_at_album_photo_path(@album, @photo, :recommend_id => recommend), :method => :post