%div#navigation
  %ul
    %li
      - if signed_in?
        -# Favorites menu
        - unless current_user.admin_of_photo?(photo)
          %div#favorites
            = render :partial => 'favorites/shared/fave', :locals => { :photo => photo }

    %li
      %div
        %a{ :href => "https://twitter.com/share",
            :class => "twitter-share-button",
            "data-text" => "About this photo: #{photo.comment}",
            "data-url" => "http://phototimemachine.heroku.com#{photo_path(photo)}",
            "data-count" => "none" }
          Tweet
        :javascript
          !function(d,s,id) {
            var js,fjs=d.getElementsByTagName(s)[0];
            if(!d.getElementById(id)) {
              js=d.createElement(s);
              js.id=id;
              js.src="//platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js,fjs);
            }
          }(document,"script","twitter-wjs");

    %li
      %div#vk_like_button
      :javascript
        document.getElementById('vk_like_button').innerHTML = VK.Share.button(
          {
            url: "http://phototimemachine.heroku.com#{photo_path(photo)}",
            title: "Photo",
            image: "#{photo.image.url(:medium)}",
            noparse: true
          },
          {
            type: 'custom',
            text: '<img src="/assets/ICON_bLIKE.jpg" />'
          });

    %li
      %div{ :class => "fb-like", "data-href" => "http://phototimemachine.heroku.com#{photo_path(photo)}",
                "data-send" => "false", "data-layout" => "button_count", "data-width" => "100",
                "data-show-faces" => "false", "data-action" => "like", "data-font" => "arial" }
      :javascript
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=284172994996972";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

    - if signed_in?
      %li
        %div.dropdown
          = link_to 'Action', '#', :remote => true
          %ul
            %li
              %div= link_to 'Add a note', '#', :id => 'addnotelink'
            %li
              %div= link_to 'Add to an album', '#', 'data-reveal-id' => 'modalAlbum', :remote => true
            %li
              %div= link_to 'Add to a group', '#', 'data-reveal-id' => "modalGroup", :remote => true
            %li
              %div= link_to 'Download'
            %li
              %div= link_to 'View original size', original_photo_path(photo)
            %li
              %div= link_to 'Replace'
            - if current_user.admin_of_photo?(photo)
              %li
                %div= link_to 'Delete', photo, :method => :delete
          %script{ :type => "text/javascript", :src => "/assets/ptm.dropdown.js" }
          :javascript
            $(document).ready(function() {
              $('.dropdown').ptmDropdown();
            });

      %li
        %div= link_to 'Share'

    %li{ :style => 'padding-left: 100px;' }
      = render 'shared/controls'

%div.clear