- unless photos.blank?
  %ul#wall
    - photos.each do |photo|
      %li{ :id => "#{ photo.id}" }
        = image_tag photo.image.url(:medium), :class => 'thumb'

        %div
          = link_to image_tag(photo.image.url(:large)), photo
          %br

          - if photo.comment.present?
            = photo.comment
            %br

          - if photo.geo.present?
            = photo.geo.address
            %br

          - if photo.generate.present?
            = l photo.generate, :format => :full
            - if photo.generate_end
              \...
              = l photo.generate_end, :format => :full
            %br

          - if photo.user.present?
            = link_to photo.user.full_name, detail_path(:id => photo.user)

- else
  Not yet photos!

%script{ :type => 'text/javascript', :src => '/assets/ptm.wall.js' }
:javascript
  $(window).load(function() {
    $('ul#wall').ptmWall();
  });