- unless photos.blank?
  %ul#thumbs
    - photos.each do |photo|
      %li{ :id => "#{ photo.id }" }
        = image_tag(photo.image.url(:medium))

        %div
          = link_to image_tag(photo.image.url(:medium)), photo
          %br

          - if photo.comment.present?
            = photo.comment
            %br

          - if photo.geo.present?
            = photo.geo.address
            %br

          - if photo.generate.present?
            = l photo.generate, :format => :full
            - if photo.generate_end
              \...
              = l photo.generate_end, :format => :full
            %br

          - if photo.user.present?
            = link_to photo.user.full_name, detail_path(:id => photo.user)
- else
  Not yet photos!

:javascript
  $('ul#thumbs li').each(function(index) {
      var img = $(this).find('img');
      var w = img.width();
      var left_shift = (138 - w)/2;
      img.css({ 'left': left_shift, 'position': 'relative' });
  });


  $('ul#thumbs li').hover(
      function() { 
          over($(this)); 
          var marker = findMarker($(this).attr('id'));
          overIconMarker(marker);
      },
      function() { 
          out($(this)); 
          var marker = findMarker($(this).attr('id'));
          outIconMarker(marker);
      }
  );