- unless photos.blank?
  %ul#thumbs
    - photos.each do |photo|
      %li{ :id => "#{ photo.id }" }
        = image_tag(photo.image.url(:small))

        %div
          = link_to image_tag(photo.image.url(:medium), :width => '150px', :height => '100px'), photo
          %br

          - if photo.comment.present?
            = photo.comment
            %br

          - if photo.geo.present?
            = photo.geo.address
            %br

          - if photo.generate.present?
            = l photo.generate, :format => :full
            - if photo.generate_end
              \...
              = l photo.generate_end, :format => :full
            %br

          - if photo.user.present?
            = link_to photo.user.full_name, detail_path(:id => photo.user)
- else
  Not yet photos!

:javascript
  // Искать js скрипт в _gmap.html.erb