%h3 Important information about you

%div
  = f.label :first_name
  = f.text_field :first_name, :value => @first_name

%div
  = f.label :last_name
  = f.text_field :last_name , :value => @second_name

%div
  = f.label :email
  = f.email_field :email, :value => @email

- if @user.password_required?
  %div
    = f.label :password
    = f.password_field :password

  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation