%div.span-16
  %h2= @title_page

  %p= @group.description

  - if current_user.join_of?(@group) || current_user.admin_of?(@group)
    = link_to "Invite users", group_users_path(@group)
    |
    = link_to "Add photo to group", group_photos_path(@group)

  %h4 Photos

  - if @photos.present?
    - @photos.each do |photo|
      = image_tag photo.image.url(:small)
  - else
    Not yet photo

  %h4 Dashboard

  - if signed_in? && (current_user.admin_of?(@group) || current_user.join_of?(@group))
    = link_to "Create new theme", new_group_dashboard_path(@group)

  - if @dashboards.present?
    - @dashboards.each do |dashboard|
      %div
        = link_to dashboard.name, group_dashboard_path(@group, dashboard)
  - else
    %p Not yet...


%div.span-8.last
  %h5 Admins

  - @group_admins.each do |admin|
    = admin.full_name
    %br

  %h5 Members

  - @group_members.each do |member|
    = member.full_name
    - if current_user.admin_of?(@group)
      = link_to '-', reject_group_member_groups_path(:group_id => @group, :id => member), :method => :post
    %br

  %h5 Candidates

  - @group_candidates.each do |candidate|
    = candidate.full_name
    - if current_user.admin_of?(@group)
      = link_to '+', accept_group_member_groups_path(:group_id => @group, :id => candidate), :method => :post
      |
      = link_to '-', remove_group_member_groups_path(:group_id => @group, :id => candidate), :method => :post
    %br