%footer    
  %ul#footer-links
    %li= link_to "Tour", about_path
    %li= link_to "About us", contacts_path
    %li= link_to "FAQ", faq_path
    %li= link_to "Rules", '#'
    %li= link_to "Donate", '#'