%div.row
  %div.four.columns

  %div.four.columns
    %ul#footer-links
      %li= link_to "Tour", about_path, :class => "simple"
      %li= link_to "About us", contacts_path, :class => "simple"
      %li= link_to "FAQ", faq_path, :class => "simple"
      %li= link_to "Rules", '#', :class => "simple"
      %li= link_to "Donate", '#', :class => "simple"

  %div.four.columns