%div#header
  %div#logo
    = link_to 'PHOTOTIMEMACHINE', root_path
  
  %div#menu
    %ul.nav-bar
      - if signed_in?
        %li.has-flyout
          = link_to 'Explore', '#'
          %div.flyout.small
            %ul
              %li= link_to 'To be tagged', '#'
              %li= link_to 'Popular', '#'
              %li= link_to 'Our choice', '#'
              %li= link_to 'Current uploads', '#'

        %li.has-flyout
          = link_to 'Groups', '#'
          %div.flyout.small
            %ul
              %li= link_to 'Your groups', groups_path
              %li= link_to 'Managed by you', groups_managed_path
              %li= link_to 'Search for a group', '#'
              %li= link_to 'Create a new one', new_group_path

        %li.has-flyout
          = link_to 'Friends', '#'
          %div.flyout.small
            %ul
              %li= link_to 'Friend\'s photos', '#'
              %li= link_to 'List of friends', '#'
              %li= link_to 'Find your friends', '#'
              %li= link_to 'Invite', '#'

        %li= link_to 'Upload', photos_uploads_path

        %li.has-flyout
          = link_to current_user.full_name, '#'
          %div.flyout.small
            %ul
              %li= link_to 'Profile', profile_path
              %li= link_to 'Photos', photos_path
              %li= link_to 'Albums', albums_path
              %li= link_to 'Collections', assortments_path
              %li= link_to 'Family trees', familytrees_path
              %li= link_to 'Favorites', favorites_path
              %li= link_to 'Manage by content', '#'
              %li= link_to 'Recent activity', '#'
              %li= link_to 'Tags', '#'
              %li= link_to 'Mail', messages_path
              %li= link_to 'Statistics', '#'
              %li= link_to 'Log out', destroy_user_session_path, :method => :delete

        %li.has-flyout
          %div
            = link_to image_tag('email.png'), '#'
            %sub= current_user.current_messages.count
          - if current_user.current_messages.present?
            %div.flyout.medium.right
              %ul
                - current_user.current_messages.each do |message|
                  %li= message.description

        %li.has-flyout
          %div
            = link_to image_tag('alarm.png'), '#'
            %sub= current_user.activities.count
          - if current_user.activities.present?
            %div.flyout.medium.right
              %ul
                - current_user.activities.each do |activity|
                  %li
                    - if activity.owner
                      = link_to activity.owner.full_name, detail_path(:id => activity.owner)
                    = activity.action
                    = link_to "#{activity.target_type} ##{activity.target_id}", activity.target

      - else
        %li
        %li
        %li
        %li
        %li
        %li= link_to 'Sign in', new_user_session_path
        %li= link_to 'Sign up', new_user_registration_path
  
  %div.clear