%div.row
  %div.six.columns
    %div#logo= link_to 'PHOTOTIMEMACHINE', root_path, :class => "header"

  %div.six.columns
    %ul.nav-bar
      %li= link_to 'Explore', '#', :class => 'simple'
      %li= link_to 'Groups', '#', :class => 'simple'
      %li= link_to 'Friends', '#', :class => 'simple'
      %li= link_to 'Upload', '#', :class => 'simple'
      %li= link_to 'Kirill Muchow', '#', :class => 'simple'
      %li
        %div
          = link_to image_tag('email.png'), '#'
          %sub 13
          &nbsp;&nbsp;
          = link_to image_tag('alarm.png'), '#'
          %sub 82