%div.span-16
  = link_to 'PHOTOTIMEMACHINE', root_path, :class => 'title-header'

%div.span-8.last
  %ul#menu
    - if signed_in?
      %li
        Signed in as&nbsp;
        = render :partial => 'auths/shared/user_link', :locals => { :user => current_user }
      %li= link_to 'Sign out', destroy_user_session_path, :method => :delete

    - else
      %li= link_to 'Sign in', new_user_session_path
      %li= link_to 'Sign up', new_user_registration_path
    %div.clear