%ul.left-menu
  %li= link_to 'My favorites', favorites_path
  %li= link_to 'My albums', albums_path
  %li= link_to 'My friends'
  %li= link_to 'My messages'
  %li= link_to 'My groups', groups_path
  %li= link_to 'My family tree'