%p
  %div#tab-panel
    %ul.htabs
      %li= link_to "Timeline", "#timeline"
      %li= link_to "Map", "#map"
      %li= render :partial => 'home/shared/search_tags'

    %div.clear

    %div.tabs
      %div#timeline.tab
        = form_tag root_path, :method => :get do
          = datetime_select :search_dt, params[:search_dt]
          = submit_tag "Search", :name => nil
      %div#map.tab
        = form_tag root_path, :method => :get do
          = text_field_tag :search_locations, params[:search_locations]
          = submit_tag "Search", :name => nil

%p
  = render :partial => 'photos/shared/photo', :collection => @photos


%div.spread
  %div.twshare.left
    %a.twitter-share-button.left{"data-url" => "http://phototimemachine.org", "data-text" => "Photo Time Machine",
      "data-via" => "phototimemachin", :href => "https://twitter.com/share" } Tweet
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}

  = facebook_like