%script{ :type => 'text/javascript', :src => "/assets/markerclusterer_compiled.js" }
%script{ :type => 'text/javascript', :src => "/assets/jquery.ui-slider.js" }

= form_tag root_path, :method => :get do
  %div.row
    %div.five.columns
      %br
      %br
      %br
      %br
      %br
      = text_field_tag :search_tags, params[:search_tags], :class => 'input-text'
    %div.one.columns
      %br
      %br
      %br
      %br
      %br
      = submit_tag "Go!", :name => nil, :class => 'small white nice button'
    %div.six.columns
      %div#fullmap
      = hidden_field_tag :ne_lat
      = hidden_field_tag :ne_lng
      = hidden_field_tag :sw_lat
      = hidden_field_tag :sw_lng

  %div.row
    %div.twelve.columns
      = hidden_field_tag :minD
      = hidden_field_tag :maxD
      = hidden_field_tag :zoom, '1'

      %ul#data
        %li 1828
        %li 1831
        %li 1838
        %li 1841
        %li 1844
        %li 1847
        %li 1850
        %li 1890
        %li 1893
        %li 1898
        %li 1901
        %li 1904
        %li 1906
        %li 1910
        %li 1913
        %li 1917
        %li 1930
        %li 1941
        %li 1950
        %li 1970
        %li 1991
        %li 1997

      %div#slider

%div.row
  %div.three.columns
  %div.four.columns
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    = image_tag "s_repeat_back.png"
    = image_tag "repeat_back.png"
    = image_tag "p_repeat_back.png"
    = image_tag "p_play.png"
    = image_tag "play.png"
    = image_tag "s_play.png"
  %div.three.columns
  %div.two.columns
    = image_tag "facebook.png"
    = image_tag "twitter.png"
    = image_tag "vk.png"

%div.row
  %div.twelve.columns
    %br

%div.row
  %div.twelve.columns
    %div#photos= render :partial => 'photos/shared/photos_detail', :locals => { :photos => @photos }


= render :partial => 'home/shared/gmap', :locals => { :photos => @photos }
= render :partial => 'home/shared/slider'
