= form_tag root_path, :remote => true, :method => :get do
  %div#search 
    %div#field.three-column
      = render 'home/shared/search_tags'            
    
    %div.empty-column &nbsp;
    
    %div#go
      %div= submit_tag "GO!", :name => nil, :class => 'action-button'
    
    %div.empty-column &nbsp;  
    
    %div.three-column
      = render :partial => 'home/shared/gmap', :locals => { :photos => @photos_for_map }
      
    %div.clear

  %div#date-slider
    = render 'shared/slider'

%div#stats
  %div
    Results: #{ @photos.count }
  %div
    = render 'shared/controls'
  %div
    = render 'home/shared/socials'
  %div.clear

%div#photos
  = render :partial => 'photos/shared/photos_detail', :locals => { :photos => @photos }
%div.clear