%p
  %h4 Search locations

  = form_tag root_path, :method => :get do
    = text_field_tag :search_locations, params[:search_locations]
    = submit_tag "Search", :name => nil

  %h4 Search tags

  = form_tag root_path, :method => :get do
    = text_field_tag :search_tags, params[:search_tags]
    = submit_tag "Search", :name => nil


  %h4 Search datetime

  = form_tag root_path, :method => :get do
    = datetime_select :search_dt, params[:search_dt]
    = submit_tag "Search", :name => nil


%p
  - @photos.each do |photo|
    = image_tag photo.image.url(:small)

%div.spread
  %div.twshare.left
    %a.twitter-share-button.left{"data-url" => "http://phototimemachine.org", "data-text" => "Photo Time Machine",
      "data-via" => "phototimemachin", :href => "https://twitter.com/share" } Tweet
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}

  = facebook_like