%div.span-24.last
  %h4= current_user.full_name

%div.span-8
  %div.user-avatar
    - if current_user.avatar.exists?
      = image_tag current_user.avatar.url(:medium)
    - else
      = image_tag "nologo.jpg"

  %div.navigation
    %ul
      %li= link_to "Users", users_path

      %li= link_to "Messages", messages_path

      %li
        = link_to "Groups", groups_path
        - if @invites.present?
          %h5 Invites
          = render :partial => 'groups/shared/invite', :collection => @invites


      %li= link_to "Albums", albums_path

      %li= link_to "Family Tree", familytrees_path

%div.span-8
  = render :partial => 'photos/shared/photo', :collection => current_user.photos

%div.span-8.last
  - current_user.activities.each do |activity|
    %div
      = link_to activity.user.full_name
      = activity.action
      = link_to activity.object_name, activity.object_link
      at
      = time_ago_in_words activity.created_at
      ago