= form_tag users_path, :method => :get do
  = text_field_tag :query, params[:query]
  = submit_tag "Search", :name => nil


- if @users.present?
  - @users.each do |user|
    %div
      - if user.avatar
        = image_tag user.avatar.url(:icon)
      = user.full_name
      = link_to "Add friend", friendlists_add_friend_path(:friend_id => user), :method => :post
- else
  %h3 Nothing