= form_for @album, :url => album_pin_photos_path(@album), :html => { :multipart => true }, :method => :post do |f|
  = f.fields_for :photos do |photo|
    - if photo.object.new_record?
      %div
        = photo.label :image
        = photo.file_field :image
    - else
      &nbsp;

  = f.submit "Add photos"