%div.span-16
  %h2
    = @album.name
    at
    = l @album.created_at, :format => :full

  %div= @album.description

  - if current_user
    - if current_user.admin_of_album?(@album)
      = link_to "add photo", new_album_photo_path(@album)

      = form_tag album_tagging_path(@album), :method => :post do
        Tags
        = text_field_tag "tags"
        = submit_tag "Add"

  %p
    - @album.photos.each do |photo|
      %div
        = link_to image_tag(photo.image.url(:small)), [@album, photo]
        - if photo.admin_of?(current_user)
          = link_to "Set as title", set_title_album_path(@album, :thumbnail => photo.id), :method => :post

%div.span-8.last
  -if signed_in?
    %ul
      - current_user.friendships.each do |friendship|
        %li
          = friendship.friend.full_name
          |
          = link_to "share", messages_recommended_path(:user_id => friendship.friend, :link => album_url(@album)), :method => :post
