%h4
  Edit your profile

%h6 Test from twitter
%div
  City:
  = current_user.current_city
%div
  About:
  = current_user.about

= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true } do |f|
  = devise_error_messages!

  %div.span-9
    %div
      = f.label :email
      = f.email_field :email

    %div
      = f.label :password
      = f.password_field :password, :autocomplete => "off"

    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation

    - if !current_user.has_no_password?
      %div
        = f.label :current_password
        = f.password_field :current_password

  %div{ :class => ["span-9", "last"] }
    %div
      = f.label :first_name
      = f.text_field :first_name

    %div
      = f.label :last_name
      = f.text_field :last_name

    %div
      = f.label :birthday
      = f.date_select :birthday, :start_year => 1930, :default => current_user.birthday

  %div.span-18
    - if current_user.avatar.exists?
      = image_tag current_user.avatar.url(:medium)
    = f.label :avatar, "Your image"
    = f.file_field :avatar


  %div.span-18
    = f.submit "Update"