%h4
  Sign up

= form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f|
  = devise_error_messages!

  %div
    = f.label :first_name
    = f.text_field :first_name, :value => @first_name

  %div
    = f.label :last_name
    = f.text_field :last_name , :value => @second_name

  - if @user.password_required?
    %div
      = f.label :birthday
      = f.date_select :birthday, :start_year => 1930

  %div
    = f.label :email
    = f.email_field :email, :value => @email

  - if @user.password_required?
    %div
      = f.label :password
      = f.password_field :password

    %div
      = f.label :password_confirmation
      = f.password_field :password_confirmation

  %div
    = f.label :gender
    = f.select :gender, options_for_select(['Male', 'Female', 'Unisex'], @gender)

  %div
    = f.label 'Location'
    = f.text_field :current_city, :value => @location

  %div
    = f.label :about
    = f.text_area :about, :value => @about

  %div
    = f.submit "Sign up"

= render "links"