%h3= @title_page

= form_for [@group, @dashboard] do |f|
  %div
    = f.label :name
    = f.text_field :name

  %div
    = f.label :description
    = f.text_area :description

  %div
    = f.submit "Create"