%h3 Edit photo

%p= image_tag @photo.image.url(:medium)

%p
  = form_for [@album, @photo] do |f|
    %div
      = f.label :tag_names, "Tags"
      = f.text_field :tag_names

    %p
      %h3 Geolocation

      = f.fields_for :geo do |location|
        %div
          %label Address:
          = location.text_field :address

        %div
          %label Latitude
          = location.text_field :latitude

        %div
          %label Longitude
          = location.text_field :longitude

    %p
      = f.fields_for :share_photo do |sharing|
        %label Public ?
        = sharing.check_box :share

    %div
      = f.label "Generate at"
      = f.datetime_select :generate, :start_year => 1826, :end_year => Time.now.year - 15
    %div
      = f.label "End of generate at"
      = f.datetime_select :generate_end, :start_year => 1826, :end_year => Time.now.year - 15

    %div
      = f.submit "Update"