%h4 Recommend geo

= form_tag create_recommend_photo_path(@photo), :method => :post do
  = text_field_tag :address, @geo
  = hidden_field_tag 'lat', @lat
  = hidden_field_tag 'lng', @lng
  %div#map_canvas{ :load => 'getZoom();'}
  = text_area_tag :comment, params[:comment]
  %div= submit_tag 'Recommend'