- content_for(:head) do
  %script{ :src => "/assets/jquery.min.js" }
  %script{ :src => "/assets/jquery.imgareaselect.min.js" }
  %script{ :src => "/assets/jquery.imgnotes-0.2.js" }

  %script{ :type => "text/javascript",  :src => "http://vk.com/js/api/share.js?9", :charset => "windows-1251" }

  %link{ :rel => "stylesheet", :href => "/assets/imgareaselect-default.css", :type => "text/css" }
  %link{ :rel => "stylesheet", :href => "/assets/imgnotes.css", :type => "text/css" }

  %meta{ :property => "og:title", :content => "#{@photo.comment}" }
  %meta{ :property => "og:url", :content => "http://phototimemachine.heroku.com#{photo_path(@photo)}" }
  %meta{ :property => "og:image", :content => "#{@photo.image.url(:medium)}" }
  %meta{ :property => "og:site_name", :content => "Phototimemachine" }

  :erb
    <script language="Javascript">
      jQuery(function($) {
        notes = [];
        <% @photo.areatags.each do |areatag| %>
          notes.push({"x1": "<%= areatag.x %>",
                      "y1": "<%= areatag.y %>",
                      "height": "<%= areatag.height %>",
                      "width": "<%= areatag.width %>",
                      "note": "<%= areatag.description.gsub(/\r/," ").gsub(/\n/," ") %>" });
        <% end %>

        $('#imgselectarea').imgNotes();
      });
    </script>

%div.span-16
  - if signed_in?
    = link_to "Selected", selected_photo_url(@photo)
    - if signed_in?
      |
      = link_to "Add to group", '#', 'data-reveal-id' => "modalGroup"
    - if current_user.admin_of_photo?(@photo)
      |
      = link_to "Edit", edit_photo_url(@photo)
      |
      = link_to "Delete", @photo, :method => :delete
    - else
      %div#favorites
        = render :partial => 'favorites/shared/fave', :locals => { :photo => @photo }
  %p
    = image_tag @photo.image.url(:large), :id => "imgselectarea"

  - if @album
    %p
      = render :partial => 'photos/shared/photo', :collection => @album.photos

  - if @photo.share_photo
    %label Public:
    = @photo.share_photo.share

  %h4 Comments
  - if @notes.present?
    = render :partial => 'notes/shared/note', :collection => @notes

  - if signed_in?
    = note_form(@note, :photo => @photo)

%div.span-8.last
  %p
    %label Generate by:
    = link_to @photo.user.full_name, detail_path(:id => @photo.user)

  = render :partial => 'photos/shared/story', :locals => { :photo => @photo }

  = render :partial => 'photos/shared/generate_at', :locals => { :photo => @photo }

  = render :partial => 'geos/shared/geo', :locals => { :photo => @photo }

  %div#tags= render :partial => 'tags/shared/list', :locals => { :tags => @photo.tags, :photo => @photo }

  - if signed_in?
    %ul
      - current_user.friendships.each do |friendship|
        %li
          = friendship.friend.full_name
          |
          = link_to "share", messages_recommended_path(:user_id => friendship.friend, :link => photo_url(@photo), :photo_id => @photo), :method => :post

  - if signed_in? && @photo.candidate_to_groups.present?
    %p
      %h6 Signed in groups:

      - @photo.candidate_to_groups.each do |group|
        %div
          = group.name
          - if current_user.admin_of_photo?(@photo)
            = link_to "Add", agree_link_photo_photo_url(@photo, :group_id => group), :method => :post
            |
            = link_to "Cancel", cancel_link_photo_photo_url(@photo, :group_id => group), :method => :post

  %div#vk_button

  %a{ :href => "https://twitter.com/share", :class => "twitter-share-button", "data-text" => "About this photo: #{@photo.comment}", "data-url" => "http://phototimemachine.heroku.com#{photo_path(@photo)}" }
    Tweet

  %div{ :class => "fb-like", "data-href" => "http://phototimemachine.heroku.com#{photo_path(@photo)}",
        "data-send" => "false", "data-layout" => "button_count", "data-width" => "450",
        "data-show-faces" => "false", "data-action" => "recommend", "data-font" => "arial" }


%div#modalGroup.reveal-modal
  %h4 Change group for add
  %a{ :class => "close-reveal-modal" }
    &#215;

  - if signed_in?
    - current_user.managing_groups.each do |group|
      %div= link_to group.name, group_link_photo_url(:group_id => group, :photo_id => @photo), :method => :post
    - current_user.joining_groups.each do |group|
      %div= link_to group.name, group_link_photo_url(:group_id => group, :photo_id => @photo), :method => :post

:javascript
  $('#modalGroup').reveal({
    animation: 'none',
    animationspeed: 200,
    closeOnBackgroundClick: true,
    dissmissModalClass: 'close-reveal-modal'
  });

%script{ :type => "text/javascript" }
  document.getElementById('vk_button').innerHTML = VK.Share.button({ url: "http://phototimemachine.heroku.com#{photo_path(@photo)}", title: "Photo", image: "#{@photo.image.url(:medium)}", noparse: true });

%script
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

%div#fb-root
%script
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=284172994996972";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

