%div.span-16
  - if current_user
    - if current_user.admin_of_photo?(@photo)
      = link_to "Edit", edit_album_photo_url(@album, @photo)
    - else
      - if current_user.collections.present?
        = form_tag albums_link_photo_url, :method => :post do
          = select_tag "album_id", options_from_collection_for_select(current_user.collections, "id", "name")
          = hidden_field_tag 'photo_id', @photo.id
          = submit_tag "Add link to collection"

  %p
    = image_tag @photo.image.url(:medium)

  %p
    %label Generate at:
    = @photo.generate

  %p
    %label Tags:
    = @photo.tag_names

  - if @photo.share_photo
    %label Public:
    = @photo.share_photo.share

  - if @photo.geo
    %p
      %label Geolocation
      %div
        = @photo.geo.address
      = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&&markers=size:mid%7Ccolor:red%7C#{@photo.geo.address}"

  %h4 Comments
  - if @notes.present?
    = render :partial => 'notes/shared/note', :collection => @notes

  - if signed_in?
    = note_form(@note, :album => @album, :photo => @photo)

%div.span-8.last
  - if signed_in?
    %ul
      - current_user.friendships.each do |friendship|
        %li
          = friendship.friend.full_name
          |
          = link_to "sharing", messages_recommended_path(:user_id => friendship.friend, :link => album_photo_url(@album, @photo)), :method => :post