%div.span-16
  - if current_user
    - if current_user.admin_of_photo?(@photo)
      = link_to "Edit", edit_album_photo_url(@album, @photo)
      |
      = link_to "Crop", crop_album_photo_url(@album, @photo)
    - else
      %div#favorites
        = render :partial => 'favorites/shared/fave', :locals => { :photo => @photo }
  %p
    = image_tag @photo.image.url(:medium)

  %p
    = render :partial => 'photos/shared/photo', :collection => @album.photos

  - if @photo.share_photo
    %label Public:
    = @photo.share_photo.share

  - unless @photo.comment.blank?
    %p
      %label Description:
      %div= @photo.comment

  %h4 Comments
  - if @notes.present?
    = render :partial => 'notes/shared/note', :collection => @notes

  - if signed_in?
    = note_form(@note, :album => @album, :photo => @photo)

%div.span-8.last
  %p
    %label Generate by:
    = link_to @photo.user.full_name, detail_path(:id => @photo.user)

  = render :partial => 'photos/shared/generate_at', :locals => { :photo => @photo }

  = render :partial => 'geos/shared/geo', :locals => { :photo => @photo }

  %div#tags= render :partial => 'tags/shared/list', :locals => { :tags => @photo.tags, :photo => @photo }

  - if signed_in?
    %ul
      - current_user.friendships.each do |friendship|
        %li
          = friendship.friend.full_name
          |
          = link_to "share", messages_recommended_path(:user_id => friendship.friend, :link => album_photo_url(@album, @photo)), :method => :post