- content_for(:head) do
  %script{ :src => "/assets/jquery.min.js" }
  %script{ :src => "/assets/jquery.imgareaselect.min.js" }
  %script{ :src => "/assets/jquery.imgnotes-0.2.js" }

  %script{ :type => "text/javascript",  :src => "http://vk.com/js/api/share.js?9", :charset => "windows-1251" }

  %link{ :rel => "stylesheet", :href => "/assets/imgareaselect-default.css", :type => "text/css" }
  %link{ :rel => "stylesheet", :href => "/assets/imgnotes.css", :type => "text/css" }

  %meta{ :property => "og:title", :content => "#{@photo.comment}" }
  %meta{ :property => "og:url", :content => "http://phototimemachine.heroku.com#{photo_path(@photo)}" }
  %meta{ :property => "og:image", :content => "#{@photo.image.url(:medium)}" }
  %meta{ :property => "og:site_name", :content => "Phototimemachine" }

%div#photo-detail
  %div.column1
    = render :partial => 'photos/shared/navigation', :locals => { :photo => @photo }
    %p
      = image_tag @photo.image.url(:large), :id => "imgselectarea"

    - if @album
      %p
        = render :partial => 'photos/shared/photo', :collection => @album.photos

    - if @photo.areatags.present?
      %div#areatags_list
        = render :partial => 'areatags/shared/areatag', :collection => @photo.areatags, :locals => { :photo => @photo }

    %label Comments
    %div#comments
      - if @notes.present?
        = render :partial => 'notes/shared/note', :collection => @notes, :locals => { :photo => @photo }

    - if signed_in?
      = note_form(@note, :photo => @photo)

  %div.column2
    = render :partial => 'auths/shared/author', :locals => { :photo => @photo }

    = render :partial => 'photos/shared/picture_name', :locals => { :photo => @photo }

    = render :partial => 'photos/shared/story', :locals => { :photo => @photo }

    = render :partial => 'timelines/shared/generate_at', :locals => { :photo => @photo }

    = render :partial => 'geos/shared/geo', :locals => { :photo => @photo }

    = render :partial => 'tags/shared/list', :locals => { :tags => @photo.tags, :photo => @photo }

    %div#statistic{ :style => 'padding: 0px' }
      = render :partial => 'photos/shared/statistic', :locals => { :photo => @photo }

    %br
    = render :partial => 'photos/shared/license', :locals => { :photo => @photo }

    - if signed_in?
      %ul
        - current_user.friendships.each do |friendship|
          %li
            = friendship.friend.full_name
            |
            = link_to "share", messages_recommended_path(:user_id => friendship.friend, :link => photo_url(@photo), :photo_id => @photo), :method => :post

    - if signed_in? && @photo.candidate_to_groups.present?
      %p
        %h6 Signed in groups:

        - @photo.candidate_to_groups.each do |group|
          %div
            = group.name
            - if current_user.admin_of_photo?(@photo)
              = link_to "Add", agree_link_photo_photo_url(@photo, :group_id => group), :method => :post
              |
              = link_to "Cancel", cancel_link_photo_photo_url(@photo, :group_id => group), :method => :post


  %div#modalGroup.reveal-modal
    %h4 Change group for add
    %a{ :class => "close-reveal-modal" }
      &#215;

    - if signed_in?
      - current_user.managing_groups.each do |group|
        %div= link_to group.name, group_link_photo_url(:group_id => group, :photo_id => @photo), :method => :post
      - current_user.joining_groups.each do |group|
        %div= link_to group.name, group_link_photo_url(:group_id => group, :photo_id => @photo), :method => :post

  :javascript
    $('#modalGroup').reveal({
      animation: 'none',
      animationspeed: 200,
      closeOnBackgroundClick: true,
      dissmissModalClass: 'close-reveal-modal'
    });

%div.clear

= render :partial => 'areatags/shared/form_select', :locals => { :photo => @photo }
= render :partial => 'areatags/shared/selected', :locals => { :photo => @photo }
