- content_for(:head) do
  %script{ :src => "/assets/jquery.min.js" }
  %script{ :src => "/assets/jquery.imgareaselect.min.js" }
  %script{ :src => "/assets/jquery.imgnotes-0.2.js" }
  %link{ :rel => "stylesheet", :href => "/assets/imgareaselect-default.css", :type => "text/css" }
  %link{ :rel => "stylesheet", :href => "/assets/imgnotes.css", :type => "text/css" }

  :erb
    <script language="Javascript">
      jQuery(function($) {
        notes = [];
        <% @photo.areatags.each do |areatag| %>
          notes.push({"x1": "<%= areatag.x %>",
                      "y1": "<%= areatag.y %>",
                      "height": "<%= areatag.height %>",
                      "width": "<%= areatag.width %>",
                      "note": "<%= areatag.description.gsub(/\r/," ").gsub(/\n/," ") %>" });
        <% end %>

        $('#imgselectarea').imgNotes();
      });
    </script>

%div.span-16
  - if signed_in?
    = link_to "Selected", selected_album_photo_url(@album, @photo)
    |
    = link_to "Add to my group", '#', 'data-reveal-id' => "modalGroup"
    - if current_user.admin_of_photo?(@photo)
      |
      = link_to "Edit", edit_album_photo_url(@album, @photo)
      |
      = link_to "Delete", [@album, @photo], :method => :delete
    - else
      %div#favorites
        = render :partial => 'favorites/shared/fave', :locals => { :photo => @photo }
  %p
    = image_tag @photo.image.url(:large), :id => "imgselectarea"

  %p
    = render :partial => 'photos/shared/photo', :collection => @album.photos

  - if @photo.share_photo
    %label Public:
    = @photo.share_photo.share

  - unless @photo.comment.blank?
    %p
      %label Description:
      %div= @photo.comment

  %h4 Comments
  - if @notes.present?
    = render :partial => 'notes/shared/note', :collection => @notes

  - if signed_in?
    = note_form(@note, :album => @album, :photo => @photo)

%div.span-8.last
  %p
    %label Generate by:
    = link_to @photo.user.full_name, detail_path(:id => @photo.user)

  = render :partial => 'photos/shared/generate_at', :locals => { :photo => @photo }

  = render :partial => 'geos/shared/geo', :locals => { :photo => @photo }

  %div#tags= render :partial => 'tags/shared/list', :locals => { :tags => @photo.tags, :photo => @photo }

  - if signed_in?
    %ul
      - current_user.friendships.each do |friendship|
        %li
          = friendship.friend.full_name
          |
          = link_to "share", messages_recommended_path(:user_id => friendship.friend, :link => album_photo_url(@album, @photo)), :method => :post


%div#modalGroup.reveal-modal
  %h4 Change group for add
  %a{ :class => "close-reveal-modal" }
    &#215;

  - current_user.managing_groups.each do |group|
    %div= link_to group.name, group_link_photo_url(:group_id => group, :photo_id => @photo), :method => :post
  - current_user.joining_groups.each do |group|
    %div= link_to group.name, group_link_photo_url(:group_id => group, :photo_id => @photo), :method => :post

:javascript
  $('#modalGroup').reveal({
    animation: 'none',
    animationspeed: 200,
    closeOnBackgroundClick: true,
    dissmissModalClass: 'close-reveal-modal'
  });