%h3 Custom
%div#container
  = link_to 'Select Files', '#', :id => 'pickfiles'
  = link_to 'Upload files', '#', :id => 'uploadfiles'

  %div.tabs
    %div.left_panel
      %ul#filelist
    %div.right_panel
      %div
        %h6 Time
        %h6 Place
        %h6 Tags
    %div.clear

%script{ :type => "text/javascript", :src => "/assets/plupload.html5.js" }

:erb
  <% session_key_name = Rails.application.config.session_options[:key] %>

:javascript
  window.URL = window.URL || window.webkitURL;
  var uploader = new plupload.Uploader({
      runtimes : 'html5',
      browse_button : 'pickfiles',
      container : 'container',
      max_file_size : '10mb',
      max_file_count  : 20,
      url : "#{photos_uploaded_path}",
      multipart: true,
      multipart_params: {
        '_http_accept': 'application/javascript',
        'authenticity_token': "#{form_authenticity_token}",
        "#{session_key_name}": "#{cookies[session_key_name]}"
      },
      filters : [
          {title : "Image files", extensions : "jpg,gif,png,tiff,jpeg"},
          {title : "Zip files", extensions : "zip"}
      ],
      resize : {width : 320, height : 240, quality : 90}
  });

  $('#uploadfiles').click(function(e) {
      uploader.start();
      e.preventDefault();
  });

  uploader.init();

  uploader.bind('FilesAdded', function(up, files) {
    var ul = $('#container .tabs .left_panel ul');

    $.each(files, function(i, file) {
      var li = $('<li>').attr('id', file.id);
      li.hover(
        function() {
          $(this).css({background: '#ccc'});
        }, function() {
          $(this).css({background: '#fff'});
      });

      var div = $('<div>').attr('class', 'thumb');
      var name = $('<p>').text(file.name);
      var size = $('<p>').text(plupload.formatSize(file.size));
      var img = $('<img>').attr('src', window.URL.createObjectURL(file.nativeFile));

      var a = $('<a>').attr('href', '#').text('delete');
      a.click(function(e) {
        e.preventDefault();
        up.removeFile(file);
        $('li#'+file.id).remove();
        return false;
      });

      div.append(img).append(name).append(size).append(a).append('<p><b></b></p>');
      li.append(div);
      ul.append(li);
    });

    up.refresh(); // Reposition Flash/Silverlight
  });

  uploader.bind('UploadProgress', function(up, file) {
      $('#' + file.id + " b").html(file.percent + "%");
  });

  uploader.bind('Error', function(up, err) {
      $('#filelist').append("<div>Error: " + err.code +
          ", Message: " + err.message +
          (err.file ? ", File: " + err.file.name : "") +
          "</div>"
      );

      up.refresh(); // Reposition Flash/Silverlight
  });

  uploader.bind('FileUploaded', function(up, file) {
      $('#' + file.id + " b").html("Uploaded!");

      if(uploader.total.uploaded == uploader.files.length)
        window.location = "#{root_path}";
  });