= form_tag photos_uploaded_path, :multipart => true, :method => :post do
  = render 'photos/shared/multiload'
  %div= submit_tag "Upload"

%br
%br
%br
%br

= form_for @photo, :html => { :multipart => true }, :url => photos_uploaded_path, :method => :post  do |f|
  = f.file_field :image

  %div
    = f.label :tag_names, "Tags"
    = f.text_field :tag_names

  %div
    = f.label 'Set a title'
    = f.text_field :comment

  %p
    %h3 Geolocation

    = render :partial => 'geos/shared/geolocation', :locals => { :photo => @photo }

  %p
    = f.fields_for :share_photo do |sharing|
      %label Public ?
      = sharing.check_box :share

  %div
    = f.label "Generate at"
    = f.datetime_select :generate, :start_year => 1826, :end_year => Time.now.year - 15
  %div
    = f.label "End of generate at"
    = f.datetime_select :generate_end, :start_year => 1826, :end_year => Time.now.year - 15

  = f.submit "Add"
