%h3 Custom
%div#container
  %div#filelist
  %br
  = link_to 'Select Files', '#', :id => 'pickfiles'
  = link_to 'Upload files', '#', :id => 'uploadfiles'

%script{ :type => "text/javascript", :src => "/assets/plupload.html5.js" }

:erb
  <% session_key_name = Rails.application.config.session_options[:key] %>

:javascript

  var uploader = new plupload.Uploader({
      runtimes : 'html5',
      browse_button : 'pickfiles',
      container : 'container',
      max_file_size : '10mb',
      url : "#{photos_uploaded_path}",
      multipart: true,
      multipart_params: {
        '_http_accept': 'application/javascript',
        'authenticity_token': "#{form_authenticity_token}",
        "#{session_key_name}": "#{cookies[session_key_name]}"
      },
      filters : [
          {title : "Image files", extensions : "jpg,gif,png"},
          {title : "Zip files", extensions : "zip"}
      ],
      resize : {width : 320, height : 240, quality : 90}
  });

  $('#uploadfiles').click(function(e) {
      uploader.start();
      e.preventDefault();
  });

  uploader.init();

  uploader.bind('FilesAdded', function(up, files) {
      $.each(files, function(i, file) {
          $('#filelist').append(
              '<div id="' + file.id + '">' +
              file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
          '</div>');

           //var url = window.webkitURL ? window.webkitURL : window.URL;
           //var img = $('img').attr('src', url.createObjectURL(file.nativeFile));
           //$('#filelist').append(img);

      });

      up.refresh(); // Reposition Flash/Silverlight
  });

  uploader.bind('UploadProgress', function(up, file) {
      $('#' + file.id + " b").html(file.percent + "%");
  });

  uploader.bind('Error', function(up, err) {
      $('#filelist').append("<div>Error: " + err.code +
          ", Message: " + err.message +
          (err.file ? ", File: " + err.file.name : "") +
          "</div>"
      );

      up.refresh(); // Reposition Flash/Silverlight
  });

  uploader.bind('FileUploaded', function(up, file) {
      $('#' + file.id + " b").html("100%");
  });