%div
  %label Place
  = link_to '(specify geo tag)', '#', :class => 'link'
  - if photo.geo.present?
    %br
    %span= photo.geo.address
    %div.map
      = image_tag "http://maps.google.com/maps/api/staticmap?size=416x240&sensor=false&markers=icon:http://bit.ly/MXgxzs%7C#{photo.geo.address}"

- if signed_in? && !current_user.admin_of_photo?(photo)
  = link_to 'Recommend geo', recommend_geo_photo_path(@photo)

- if photo.recommend_geos.present?
  %ul
    - photo.recommend_geos.each do |recommend|
      %li
        %i= recommend.address
        %div= recommend.comment
        - if signed_in? && current_user.admin_of_photo?(photo)
          = link_to "V", apply_recommend_photo_path(@photo, :recommend_id => recommend), :method => :post
          = link_to "X", destroy_recommend_photo_path(@photo, :recommend_id => recommend), :method => :post
