!!! 5
%html
  %head
    %title= title_page
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.container
      = render "shared/header"

      - if signed_in?
        %div.span-24
          = render :partial => 'shared/panel'

      %div.span-24
        = yield :breadcrumbs
        = yield

      = render "shared/footer"