!!! 5
%html
  %head
    %title= title_page
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.container
      %div.span-18
        = render "shared/logo"
      %div{ :class => ["span-6", "last"] }
        = render "shared/auth_menu"

    %div.container
      %div.span-18
        = yield
      %div{ :class => ["span-6", "last"] }
        v
